---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<div style="font-size: 0.9em;">
{% assign publications_by_year = site.publications | sort: "date" | reverse | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year_group in publications_by_year %}
<h2>{{ year_group.name }}</h2>
<ul>
  {% for post in year_group.items %}
  <li>{{ post.authors }}, "{{ post.title }}", <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}{% if post.note %}. ({{ post.note }}){% else %}.{% endif %}{% if post.paperurl %} <a href="{{ post.paperurl }}">[Paper]</a>{% endif %}</li>
  {% endfor %}
</ul>
{% endfor %}
</div>
